[
    {
        "name": "test infcover",
        "files": ["test/infcover.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "test minigzip without FS",
        "files": ["test/minigzip.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "test minigzip with FS",
        "files": ["test/minigzip.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN  -DTIS_INTERPRETER -I.",
        "raw_options": {"-val-args": " test.txt"},
        "filesystem":
        { "system_errors": true,
          "files":
            [
              { "name": "test.txt", "from": "input.txt" }
            ]
        }
    },
    {
        "name": "test example without FS",
        "files": ["test/example.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "test example with FS",
        "files": ["test/example.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
       "compilation_cmd": "-DHAVE_HIDDEN  -DTIS_INTERPRETER -I.",
        "raw_options": {"-val-args": " output.gz input.gz"},
        "filesystem":
        { "system_errors": true,
          "files":
            [
              { "name": "input.gz", "from": "input.gz" }
            ]
        }
    },
    {
        "name": "example enough",
        "files": ["examples/enough.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example fitblk without FS",
        "files": ["examples/fitblk.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example fitblk with FS",
        "files": ["examples/fitblk.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
         "compilation_cmd": "-DHAVE_HIDDEN  -DTIS_INTERPRETER -I.",
        "raw_options": {"-val-args": " test.txt"},
        "filesystem":
        { "system_errors": true,
          "files":
            [
              { "name": "test.txt", "from": "input.txt" }
            ]
        }
    },
    {
        "name": "example gun",
        "files": ["examples/gun.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example gzappend",
        "files": ["examples/gzappend.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    }
]
